<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="content">
        <h1>Magic Expense</h1>

        <form th:action="@{'/expense'}" th:method="get">
            <h2>Gestão de despesas por mês</h2>
            <div class="filter">
                <input type="month" name="month" min="2000-01" max="2100-12" >
                <button type="submit" class="btn blue">Buscar</button>
            </div>
        </form>

        <a href="/expense/new" class="btn">Adicionar Despesa</a>

        <div class="expenses">
            <div class="card-expense" th:each="expense : ${expenses}">
                <h2 th:text="${expense.category}"></h2>
                <p th:text="'R$ ' + ${expense.amount}"></p>
                <p th:text="'Data: ' + ${#dates.format(expense.date, 'dd/MM/yyyy')}"></p>
                <div class="actions">
                    <form style="background-color: #f3ff99; width: 7rem;" th:action="@{'/expense/{id}'(id=${expense.id})}" th:method="DELETE">
                        <button type="submit" class="btn red">Apagar</button>
                    </form>
                </div>
            </div>

        </div>

        <h3>Valor das Despesas:   
            <span th:text="'R$  '+${totalExpenses}" class="total-expenses"></span>
        </h3>

    </div>

</body>

</html>